form{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input{
    display:flex;
    justify-content:center;
    align-items:start;
    flex-direction: column;
    margin-bottom: 10px;
}
.input label{
    margin-bottom: 5px;
    
}
.input  input{
    width: 300px;
    padding: 10px;
    border-radius: 9px;
    border: none;
    background-color: #f2f2f2;
   
}
.save-btn{
    width: 300px;
    display: flex;
    justify-content: flex-start;
}
.save-btn button{
    width: 70px;
    padding: 9px 0px;
    border-radius: 9px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
}